In [1]:
print("Hello")

Hello

In [8]:
import pandas as pd
import random
from faker import Faker

# Initialize Faker for random data generation
fake = Faker()

# Helper function to generate random data
def generate_data():
    product_id = random.randint(1000, 9999)
    product_name = fake.word().capitalize()
    category = random.choice(["Electronics", "Clothing", "Grocery", "Home", "Toys", "Books"])
    supplier_id = random.randint(100, 200)
    supplier_name = fake.company()
    purchase_date = fake.date_this_decade()
    purchase_price = round(random.uniform(5.0, 50.0), 2)
    retail_price = round(purchase_price * random.uniform(1.5, 3.0), 2)
    stock_level = random.randint(0, 500)
    reorder_point = random.randint(10, 100)
    lead_time = random.randint(3, 15)
    sales_volume = random.randint(0, 100)
    sales_date = fake.date_this_year()
    sales_channel = random.choice(["Online", "In-store", "Wholesale"])
    demand_forecast = random.randint(50, 200)
    stockouts = random.randint(0, 5)
    backorders = random.randint(0, 10)
    warehouse_location = random.choice(["WH1", "WH2", "WH3"])
    expiration_date = None if category != "Grocery" else fake.date_this_decade()
    discounts_applied = random.randint(0, 30)
    inventory_aging = random.randint(1, 90)
    return_rate = round(random.uniform(0.0, 5.0), 2)
    
    return {
        "Product ID": product_id,
        "Product Name": product_name,
        "Category": category,
        "Supplier ID": supplier_id,
        "Supplier Name": supplier_name,
        "Purchase Date": purchase_date,
        "Purchase Price": purchase_price,
        "Retail Price": retail_price,
        "Stock Level": stock_level,
        "Reorder Point": reorder_point,
        "Lead Time (Days)": lead_time,
        "Sales Volume": sales_volume,
        "Sales Date": sales_date,
        "Sales Channel": sales_channel,
        "Demand Forecast": demand_forecast,
        "Stockouts": stockouts,
        "Backorders": backorders,
        "Warehouse Location": warehouse_location,
        "Expiration Date": expiration_date,
        "Discounts Applied": discounts_applied,
        "Inventory Aging": inventory_aging,
        "Return Rate": return_rate
    }

# Generate the dataset with 5,000 rows
data = [generate_data() for _ in range(5000)]

# Create DataFrame
df = pd.DataFrame(data)

# Save the data to a CSV file
df.to_csv('inventory_management_data_5000_rows.csv', index=False)

In [9]:
import pandas as pd
df = pd.read_csv('inventory_management_data_5000_rows.csv')

In [10]:
df.head()

,Product ID,Product Name,Category,Supplier ID,Supplier Name,Purchase Date,Purchase Price,Retail Price,Stock Level,Reorder Point,...,Sales Date,Sales Channel,Demand Forecast,Stockouts,Backorders,Warehouse Location,Expiration Date,Discounts Applied,Inventory Aging,Return Rate
0,1009,Approach,Books,157,Ruiz-Ortega,2024-02-03,24.40,37.33,247,59,...,2025-02-21,Online,96,0,10,WH2,NaN,15,25,3.08
1,8610,Again,Toys,123,Solis Ltd,2020-04-24,48.20,117.78,178,10,...,2025-01-13,Online,133,3,4,WH2,NaN,11,83,4.54
2,2343,Prevent,Toys,175,"Austin, Russell and Richards",2022-10-13,33.87,74.21,156,61,...,2025-01-15,Online,106,0,4,WH2,NaN,28,24,4.74
3,4015,Company,Toys,121,Richardson-Obrien,2021-07-04,14.28,35.70,321,86,...,2025-02-21,Wholesale,131,5,9,WH2,NaN,18,73,1.32
4,1514,Prepare,Home,125,Lawrence Inc,2020-09-23,9.22,14.79,430,70,...,2025-01-27,Wholesale,127,0,1,WH1,NaN,9,15,1.91

In [11]:
df.isna().sum()

Product ID               0
Product Name             6
Category                 0
Supplier ID              0
Supplier Name            0
Purchase Date            0
Purchase Price           0
Retail Price             0
Stock Level              0
Reorder Point            0
Lead Time (Days)         0
Sales Volume             0
Sales Date               0
Sales Channel            0
Demand Forecast          0
Stockouts                0
Backorders               0
Warehouse Location       0
Expiration Date       4127
Discounts Applied        0
Inventory Aging          0
Return Rate              0
dtype: int64

In [12]:
df.tail()

,Product ID,Product Name,Category,Supplier ID,Supplier Name,Purchase Date,Purchase Price,Retail Price,Stock Level,Reorder Point,...,Sales Date,Sales Channel,Demand Forecast,Stockouts,Backorders,Warehouse Location,Expiration Date,Discounts Applied,Inventory Aging,Return Rate
4995,2105,Its,Books,114,Daniels-Allen,2023-08-17,18.45,37.73,40,79,...,2025-01-02,Wholesale,87,1,5,WH1,NaN,26,16,1.60
4996,6354,Result,Grocery,176,Rubio LLC,2022-04-08,46.58,133.29,370,33,...,2025-02-04,Online,198,3,3,WH1,2022-06-07,13,44,2.61
4997,6084,Claim,Grocery,179,Larsen-Strong,2024-06-30,11.73,25.42,258,71,...,2025-02-06,Wholesale,107,0,8,WH3,2021-09-10,3,45,0.47
4998,4341,Network,Books,196,Johns-Mack,2020-03-19,8.10,19.92,213,22,...,2025-02-12,Wholesale,72,4,8,WH2,NaN,7,56,3.99
4999,1488,Card,Toys,129,Burton and Sons,2023-03-11,30.82,54.18,373,89,...,2025-01-15,In-store,194,1,6,WH2,NaN,15,70,3.01

In [17]:
df['Expiration Date'].value_counts()

Expiration Date
2022-06-26    4
2021-08-16    4
2024-06-22    3
2021-07-27    3
2025-02-07    3
             ..
2024-11-27    1
2020-04-02    1
2021-12-06    1
2024-02-11    1
2022-06-07    1
Name: count, Length: 704, dtype: int64

In [ ]:
df

In [19]:
df1 = pd.read_csv('inventory_data_noisy.csv')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18360 entries, 0 to 18359
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Dealer_ID    18360 non-null  object
 1   Product_ID   18360 non-null  object
 2   Date         18360 non-null  object
 3   Quantity     18268 non-null  float64
 4   Consumption  18268 non-null  float64
 5   Location     18176 non-null  object
dtypes: float64(2), object(4)
memory usage: 860.8+ KB

In [35]:
df1.head()

  Dealer_ID Product_ID        Date  Quantity  Consumption     Location
0      D000       P000  2022-01-01      62.0          8.0      Chicago
1      D000       P000  2022-01-02      70.0          9.0      Chicago
2      D000       P000  2022-01-03      12.0         17.0  Los Angeles
3      D000       P000  2022-01-04      74.0         13.0  Los Angeles
4      D000       P000  2022-01-05      57.0         10.0  Los Angeles

In [20]:
df1.isna().sum()

Dealer_ID        0
Product_ID       0
Date             0
Quantity        92
Consumption     92
Location       184
dtype: int64

In [31]:
df1.describe()

           Quantity   Consumption
count  18268.000000  18268.000000
mean      59.105704     12.938526
std       71.085667     13.313527
min       10.000000      5.000000
25%       32.000000      8.000000
50%       54.000000     12.000000
75%       77.000000     16.000000
max      990.000000    190.000000

In [34]:
df1.duplicated().sum()

np.int64(349)

In [39]:
df1.drop_duplicates(inplace=True)

In [40]:
df1.duplicated().sum()

np.int64(0)

In [42]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18011 entries, 0 to 18343
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Dealer_ID    18011 non-null  object
 1   Product_ID   18011 non-null  object
 2   Date         18011 non-null  object
 3   Quantity     17919 non-null  float64
 4   Consumption  17919 non-null  float64
 5   Location     17827 non-null  object
dtypes: float64(2), object(4)
memory usage: 985.0+ KB

In [49]:
df1['Quantity'].fillna(df1['Quantity'].median(),inplace=True)

C:\Users\CVR\AppData\Local\Temp\ipykernel_3836\572179636.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Quantity'].fillna(df1['Quantity'].median(),inplace=True)

In [56]:
df1['Consumption'].fillna(df1['Consumption'].mode(),inplace=True)

C:\Users\CVR\AppData\Local\Temp\ipykernel_3836\3109516370.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Consumption'].fillna(df1['Consumption'].mode(),inplace=True)

In [52]:
df1.isnull().sum()

Dealer_ID        0
Product_ID       0
Date             0
Quantity         0
Consumption      0
Location       184
dtype: int64

In [53]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18011 entries, 0 to 18343
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Dealer_ID    18011 non-null  object
 1   Product_ID   18011 non-null  object
 2   Date         18011 non-null  object
 3   Quantity     18011 non-null  float64
 4   Consumption  18011 non-null  float64
 5   Location     17827 non-null  object
dtypes: float64(2), object(4)
memory usage: 985.0+ KB

In [54]:
df2 = pd.read_csv('inventory_data_cleaned.csv')

In [55]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18176 entries, 0 to 18175
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Dealer_ID    18176 non-null  object
 1   Product_ID   18176 non-null  object
 2   Date         18176 non-null  object
 3   Quantity     18176 non-null  float64
 4   Consumption  18176 non-null  float64
 5   Location     18176 non-null  object
dtypes: float64(2), object(4)
memory usage: 852.1+ KB

In [57]:
df2.duplicated().sum()

np.int64(349)